.repo{
    background-color: orangered;
    text-align: center;
    text-decoration: dotted;
    margin: 20px;
    color: black;
   padding: 20px;
   border: 10px;
   border-radius: 20px;
}
#head{ background-color: rgb(61, 19, 3);
    text-align: center;
    text-decoration-line: underline;
    margin: 20px;
    color: rgb(219, 20, 20);
   padding: 20px;
   border: 20px;
   border-radius: 50px;

}
div{background-color: rgb(204, 167, 154);
    text-align: center;
    text-decoration:darkblue;
    margin: 20px;
    color: rgb(228, 19, 19);
   padding: 20px;
   border: 10px;
   border-radius: 20px;
   
}
img{
    width: 100px;
}